html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: sans-serif;
    scroll-behavior: smooth;
    height: auto;
  }

  *,
  *::after,
  *::before {
    box-sizing: inherit;
  }

  h2{
    text-align: center;
  }

  body{
    margin: 0;
    height: 100vh;
    min-width: 300px;
    background:#FEFBE7;  /* fallback for old browsers */
    display: grid;
    grid-template-rows: repeat(4 auto);
    grid-template-areas: 
    "header"
    "navbar"
    "."
    "registro"
    "footer";
  }
  input{
    border: none;
    padding: 5px;
  }
  button{
    padding: 3px 10px;
    border-radius: 25px;
  }


/*------------------------ seccion del registro ---------------------------------------*/

.sesion{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    transition: ease .5s;
    padding: 50px 0;
}
.form-sesion{
    grid-row: 1/2;
    min-width: 300px;
    text-align: center;
    padding: 25px;
    background-color: rgba(208, 204, 204, 0.897);
    border-radius: 50px;
    align-self: center;

}

.form-sesion form{
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: center;
    text-align: center;
}
.form-img{
    grid-column: 2/3;
    padding: 20px;
}
.form-img img{
    height: auto;
    width: 100%;
    border-radius: 50px;
}
.form-sesion button {
    transition: 0.5s;
    background-color: #109eb3;
    color: #000;
    padding: 14px 20px;
    margin: 8px 0;
    cursor:pointer;
    width: 80%;
    border: 0;
    border-radius: 5px;
  }
.form-sesion button:hover{
    background-color: #17bcd5;

}
.form-sesion input[type=text], input[type=password], input[type=email], input[type=date], input[type=number] {
    width: 80%;
    padding: 10px 20px;
    margin: 5px 0;
    display:inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
      
  }

.form-sesion select{
    width: 80%;
    padding: 10px 20px;
    margin: 8px 0;
    display:inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.card{
    justify-self: center;
}

/*--------------------------------- screen media -------------------------------------*/


@media screen and (max-width: 830px) {
    .sesion{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    
    .form-img{
        grid-column: 1/2;
        grid-row: 2/3;
    }
}
