html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: sans-serif;
    scroll-behavior: smooth;
    height: auto;
  }

  *,
  *::after,
  *::before {
    box-sizing: inherit;
  }

  h2{
    text-align: center;
  }

  body{
    margin: 0;
    min-width: 300px;
    overflow-x: hidden;
    background:#fff;  /* fallback for old browsers */
    /*  background-image: linear-gradient(190deg, #fffffd 0, #fffff2 25%, #fefbe7 50%, #e7e6dc 75%, #d2d2d1 100%);  
    */display: grid;
    grid-template-rows: repeat(8, auto);
    grid-template-areas: 
    "header"
    "navbar"
    "c-up"
    "middle"
    "certificaciones"
    "c-d"
    "contratanos"
    "footer";
 
  }
  input{
    border: none;
    padding: 5px;
  }
  button{
    padding: 3px 10px;
    border-radius: 25px;
  }

.c-up{
    grid-area: c-up;
    background-image: url("../img/team.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: darken;
    height: 300px;
    width: auto;
    text-align: center;
    margin-bottom: 15px;
    text-decoration: none;
}
.c-up-tex{
    height: 100%;
    width: 100%;
    background-color: #191919ad;
    padding-top: 70px;
    color: #FFFFFF;
}
.c-up input{
    display: inline-block;
    color: #FFFFFF;
    padding: 5px;
    background-color: #109db33c;
    border: .5px solid #FFFFFF;
    transition: ease-in .2s;
}
.c-up input:hover{
    background-color: #109db378;  
}
.c-up form{
    display: inline-block;
}


.c-m{
    grid-area: middle;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(2, 50vw);
}
.sqa-img{
    height: auto;
    width: 100%;
    max-width: 556px;
}

.nosotros{
    grid-column: 1/2;
    max-width: 700px;
    padding: 20px;
}
.c-m-img{
    grid-column: 2/3;
    display: flex;
    justify-content: center;
}
.certificaciones{
    grid-area: certificaciones;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
}
.c-d{
    grid-area: c-d;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.Card{
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    display: inline-block;
    width: 300px;
    text-align: center;

  }
  
  /* On mouse-over, add a deeper shadow */
  .Card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }
  .c1{
    justify-self: end;
    margin-top: 25px;
}
  .c3{
    justify-self: start;
    margin-top: 25px;
}

.contratanos{
    grid-area: contratanos;
    color: #d2d2d1;
    font-size: 20px;
    text-align: center;
    height: auto;
    width: 100%;
    margin-top: 30px;
    background-color: #272525ef;
    padding: 20px;
}
.contratanos a{
    text-decoration: none;
    color: #109eb3;
}
.contratanos a:hover{
    color: #1fbed7;
}


@media screen and (max-width: 940px) {
    .c-m{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, auto);
    } 

    .sqa-img{
        height: auto;
        width: 70%;
        margin: 0 auto;
    }
    .nosotros{
        grid-column: 1/2;
        grid-row: 1/2;
        padding: 30px;
    }
    .c-m-img{
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .c-d{
        grid-template-columns:repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
    }
    .c3{
        grid-column: 1/3;
        justify-self: center;
    }
    .c2{
        margin-top: 25px;
    }
    .c1{
       justify-self: center;
    }
}

@media screen and (max-width: 625px) {

    
    .c-d{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, auto);
    }
    .c3{
        grid-column: 1/2;
        justify-self: center;
    }
    .c2{
        margin-top: 25px;
    }
    .c1{
        justify-self: center;
     }

}
