html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: sans-serif;
    scroll-behavior: smooth;
    height: auto;
  }

  *,
  *::after,
  *::before {
    box-sizing: inherit;
  }

  h2{
    text-align: center;
  }

  body{
    margin: 0;
    min-width: 300px;
    overflow-x: hidden;
    background:#FEFBE7;  /* fallback for old browsers */
    background-image: linear-gradient(190deg, #fffffd 0, #fffff2 25%, #fefbe7 50%, #e7e6dc 75%, #d2d2d1 100%);  
    display: grid;
    grid-template-rows: repeat(4 auto);
    grid-template-areas: 
    "header"
    "navbar"
    "registro"
    "footer";
  }

  input{
    border: none;
    padding: 5px;
  }
  button{
    padding: 3px 8px;
    border-radius: 25px;
    margin: 0 10px;
  }

/*------------------------ seccion del registro ---------------------------------------*/

.registro{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    transition: ease .5s;
    padding: 50px;
    align-items: center;
    width: 100vw;
}

.form-registro{
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    min-width: 300px;
    width: 70%;
    height: 100%;
    align-items: center;
    justify-items: center;
    padding: 5px;
    background-color: rgba(208, 204, 204, 0.897);
    border-radius: 40px;
}
.form-registro h2{
    grid-column: 1/3;
    grid-row: 1/2;
}
.form-registro form{
    grid-column: 1/3;
    grid-row: 2/3;
    justify-self: center;
    text-align: center;
    width: 90%;
}
.form-img{
    height: auto;
    width: 100%;
    grid-column: 2/3;
}
.form-img img{
    height: auto;
    width: 100%;
    max-width: 500px;
}
.form-registro button {
    transition: 0.5s;
    background-color: #109eb3;
    color: #000;
    padding: 14px 20px;
    margin: 8px 0;
    cursor:pointer;
    width: 80%;
    border: 0;
    border-radius: 5px;
  }
.form-registro button:hover{
    background-color: #17bcd5;

}
.form-registro input[type="text"], input[type="password"], input[type="email"], input[type="date"],input[type="number"] {
    width: 90%;
    padding: 10px 10px;
    margin: 5px 0;
    display:inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
      
  }

.form-registro select{
    width: 80%;
    padding: 10px 20px;
    margin: 8px 0;
    display:inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    
}


/*--------------------------------- screen media -------------------------------------*/

@media screen and (max-width: 930px) {


    .form-registro{
        grid-column: span 2;
        background-color: rgba(208, 204, 204, 0.897);
        justify-self: center;
        width: 60%;
    }
    .form-img img{ 
        display: none;
    }       
}

