html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: sans-serif;
    scroll-behavior: smooth;
    height: auto;
  }

  *,
  *::after,
  *::before {
    box-sizing: inherit;
  }

  h2{
    text-align: center;
  }

  body{
    margin: 0;
    height: 100vh;
    min-width: 300px;
    background:#FEFBE7;  /* fallback for old browsers */
    display: grid;
    grid-template-rows: repeat(4 auto);
    grid-template-areas: 
    "header"
    "navbar"
    "registro"
    "footer";
  }
  input{
    border: none;
    padding: 5px;
  }
  button{
    padding: 3px 8px;
    border-radius: 25px;
    margin: 0 10px;
  }



/*------------------------ seccion del registro ---------------------------------------*/

.solicitud{
    display: grid;
    grid-template-columns: 1fr 1fr;
    transition: ease .5s;
    justify-items: center;
    align-items: center;
    height: 50vh;
}

.form-solicitud{
    grid-row: 1/2;
    width: 70%;
    text-align: center;
    padding: 25px;
    background-color: rgba(208, 204, 204, 0.897);
    border-radius: 40px;
    align-self: center;
    justify-self: center;
}

.form-solicitd form{
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: center;
    text-align: center;
    width: 80%;
}
.form-img{
    grid-column: 2/3;
    padding: 20px;
    height: auto;
    width: 100%;
}

.form-img img{
    max-width: 500px;
    height: auto;
    width: 100%;
}

.form-solicitud button {
    transition: 0.5s;
    background-color: #109eb3;
    color: #000;
    padding: 14px 20px;
    margin: 8px 0;
    cursor:pointer;
    width: 80%;
    border: 0;
    border-radius: 5px;
  }
.form-solicitud button:hover{
    background-color: #17bcd5;

}
.form-solicitud input[type="text"], input[type="password"], input[type="email"], input[type="date"], input[type="number"] {
    width: 80%;
    padding: 10px 20px;
    margin: 5px 0;
    display:inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
      
  }

.form-solicitud select{
    width: 80%;
    padding: 10px 20px;
    margin: 8px 0;
    display:inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


/*--------------------------------- screen media -------------------------------------*/


@media screen and (max-width: 830px) {
    .solicitud{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    
    .form-solicitud{
        grid-column: 1/2;
        grid-row: 1/2;
        width: 70%;

    }
    .form-img{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .form-img img{
        display: none;
    }
}
