<footer class="footer">
        <div class="logo">
          <img src="/img/logoWithe.png" alt="logo" height="70">
          <img src="/img/escudoDO.png" alt="" height="70">
          <p>TEST & QUALITY.</p>
        </div>
        <div class="nortics">
          <a href="#" class="bi bi-geo-alt" title="Github"></a>
          <p>Republica Dominicana</p>
          <img src="/img/A5.jpeg" alt="logo" height="70">
        </div>
        <div class="redes">
          <h2>REDES SOCIALES</h2>
            <a href="#" class="bi bi-envelope" title="Mail"></a>
            <a href="#" class="bi bi-linkedin" title="Linkedin"></a>
            <a href="#" class="bi bi-facebook" title="Facebook"></a>
        </div>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

</footer>   
